.row.title
  .s12.m4
    .card
      .card-content
        %p 食事管理登録
.row.title
  .s12.m4
    .card
      .card-content
        %p 食事管理登録
.row.title
  .s12.m4
    .card
      .card-content
        %p 食事管理登録
.row.title
  .s12.m4
    .card
      .card-content
        %p 食事管理登録
.row.title
  .s12.m4
    .card
      .card-content
        %p 食事管理登録