.row.title
  .s12.m4
    .card
      .card-content
        %img.thumb.show{:alt => "ジムでスポーツ靴を履いているアジアの女性と女性がトレッドミルでジョギングをしています", "data-pin-no-hover" => "true", :height => "417", :onload => "window.imageLoaded(this);", :src => "https://image.freepik.com/free-photo/_33718-1198.jpg", :width => "626"}
.row.title.app-intro
  .card
    .card-content
      %h3 ＜このアプリについて＞(現在マクロ管理と体重管理のみ実装)
      .card-content
        %h5 （三ヶ月のダイエットプログラムを希望される方は、まず以下のイントロダクションをお読みください。）
        %h5 このアプリはマクロ栄養素管理法を用いた食事と体重の管理アプリです。
        %h5 聞きなれない方は少し難しく感じるかもしれませんが、タンパク質(protein)、脂質(fat)、炭水化物(carbohydrate)をグラム単位で管理することで、体重の増減を自在にコントロールすることができます。様々なダイエット法がありますが、実は体重の増減はカロリーの収支管理およびマクロの内訳でほぼ決まってしまいます。
        .row.title
          .card
            .s12.m4
              .card-content
                %h4 <体重管理に大切なこと（優先度）>
                %a.waves-effect.waves-light.btn.click1.center check！
                .intro1
                  %br
                  %h6　1.カロリー収支の管理(摂取カロリーと消費カロリーの管理)
                  %br
                  %h6　2.マクロ栄養素の管理(カロリーに対するPFCの内訳)
                  %br
                  %h6　3.食事の摂取タイミング及び回数
                  %br
                  %h6　4.ミクロ栄養素（ビタミンミネラルの管理）
                  %br
                  %h6　5.サプリメント(補助食品)
                  %br 
                    %h8.red-text    * 1.と2.でほぼ体重の増減が決まってしまう！
        %h5 すでに何らかのダイエットを経験されている人は意外に思うかもしれませんが、食事のタイミングはダイエットにとってそれほど重要ではありません。たとえ夕食の炭水化物を抜いたとしても、一日の総摂取カロリーが、消費カロリーを上回っていた場合は体重は増えてしまいます。糖質制限ダイエットが上手くいかなかったのは、おそらく、あなたの体質によるものではないでしょう。
        %h5 では、なぜ一番重要なカロリー収支ダイエットではなく、マクロ栄養素管理を採用しているのか疑問に思う人がいるかもしれませんが、実はマクロ栄養素を管理することで、結果的にカロリー収支を計算していることになります。
        %h5 それはそれぞれの三大栄養素のグラム当たりのカロリーは、あらかじめ決まっているからです。
        .row.title
          .s12.m4
            .card
              .card-content
                %h4 <マクロ栄養素のグラム当たりのカロリー>
                %a.waves-effect.waves-light.btn.click2 check！
                .intro2
                  %h7　1.タンパク質　　　グラム当たり　　4 kcal
                  %br
                  %h7　2.脂質　　　グラム当たり　　9 kcal
                  %br
                  %h7　3.炭水化物（糖質と食物繊維の総和）　グラム当たり　　4 kcal

        %h5  これで、マクロ栄養素管理をすることで、摂取カロリーを管理できることがわかりましたね。マクロ栄養素単位で見ると、ダイエットの大敵とされるラーメン、ケーキといったものも、単なる数値として扱うことができるのです。とはいうものの、いきなりマクロ栄養素管理なんてわからない、忙しくてできっこない、という人が大半ではないでしょうか。
        %h5  そもそもライフスタイルや、体格の違う人がいるのに、どうやって消費カロリーを計算するんだと思う方が、いらっしゃるかもしれません。確かに厳密に管理することは非常に手間と時間を要します。しかし、およそのカロリー収支を計算することはそこまで難しいことはありません。あなたがプロボクサーやボディービルダーではない限り、厳密な管理は必要ではなく、概算管理で十分にこのマクロ管理法の効果を実感し、理想の体型に近づくことができます。なんとなく、マクロ栄養素を管理できているという状態が、あなたの体重管理や健康管理にとって非常に重要なのです。
        %h5  このアプリを使うことは、あなたのマクロ栄養素管理を簡単にするだけでなく、日々の食事をとるという行為を続ける中で、自然とマクロ管理が意識できるようになり、数ヶ月もすれば、アプリを使わずとも概算であれば、マクロ管理ができるように、設計された自立を促すアプリです。
        %h5  できる訳ないと考えていたあなたも、少しは興味が湧いてきたのではないでしょうか。
        %h5  体脂肪1gにつき、エネルギーは何キロカロリー消費する必要があるでしょうか。体脂肪は脂質なので1g当たり9kcalだと考えた方は勘の鋭い方です。しかし、実際には動物のエネルギー代謝は少々複雑なことに加え、体重減少には脂肪以外に、水分等の減少が含まれるます。そのためこのアプリでは体重1kg痩せるために、消費すべきカロリーは7,000kcalとして計算します。消費すべき体脂肪のkcalがわかればあとは日数と基礎代謝がわかれば、１日当たりの目標摂取カロリーが算出できますね。
        %h5  では、早速３ヶ月のダイエットプログラムに参加する方は、まずユーザー登録をした後に、基本情報の登録（身長、体重、年齢）とライフスタイルから、ベースカロリー（あなたの体重が増減することのない基準となるカロリー）を設定することから始めましょう。
        %h5  次に目標体重を決めることで、日々の目標摂取カロリーを設定します。（健康上の理由から、３kg/月を超える減量はお勧めしません）。
        %h5  ユーザーの目的の共通化を測るため、3ヶ月で-３kg、-6kg、-9kgの3パターンから設定をお願いします。
        .row.title
          .s12.m4
            .card
              .card-content
                %h4   <一日の目標摂取カロリーの算定基準>
                %a.waves-effect.waves-light.btn.click3 check！
                .intro3
                  %h6   X ＝(あなたの減らしたい体重(kg)) x (7,000kcal)   /   日数　　
                  %br
                  %h6     ⬆︎ベースカロリーに対して、下回るべきkcal(日)
                  %br
                  %h6   つまり、(一日の目標摂取カロリー)　=  (ベースカロリー) - (X)
                  %br
                  %h7.red-text   *アプリに基本情報を入力するだけで、目標カロリーは自動計算されます。
                  
                  